@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Montserrat;
    background-color: #1b1b1b;
    color: #fff;
}

.container {
    width: 98vw;
    height: auto;
    background-color: #1b1b1b;
    padding: 1vh;
}

.form-comment {
    display: flex;
    align-items: center;
}

.form-comment:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.note-input {
    padding: 5px;
    font-family: Montserrat;
}

.add-note {
    font-family: Montserrat;
    margin-left: 2vw;
    margin-bottom: 9px;
    padding: 5px;
    margin-top: 10px;
    background-color: red;
}

.add-note1 {
    font-family: Montserrat;
    margin-left: 2vw;
    margin-bottom: 9px;
    padding: 5px;
    margin-top: 10px;
    background-color: #fff;
}

.delete-btn {
    font-size: 14px;
    color: #fff;
    padding: 5px;
    background-color: #1b1b1b;
    border: 1px solid #fff;
    border-radius: 10px;
}

.delete-btn:hover {
    color: red;
}

ol {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1b1b1b;
}

li {
    padding: 1vw;
}

.text-li {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    width: 80vw;
}

.add-person {
    width: 10vw;
    margin: 3vh;
    font-size: 18px;
    font-family: Montserrat;
    color: #fff;
    padding: 5px;
    background-color: #1b1b1b;
    border: 1px solid #fff;
    border-radius: 10px;
}

.persons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person-card {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: #1b1b1b;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 20px;
    /* box-shadow: 0px 0px 45px 14px rgba(255, 255, 255, 0.2); */
    margin: 50px;
    color: #fff;
    flex-direction: column;
    font-size: 22px;
}

.person-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 80px;
    border: 1px solid #fff;
    /* box-shadow: 0px 0px 45px 14px rgba(255, 255, 255, 0.2); */
}

;

.amount1 {
    color: red;
    border: 1px solid #fff;
}
