<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>Document</title>
</head>

<body>
    <div class="container" id="app">
        <h1 :style="{color: inputText.length > 5 ? 'red' : 'red'}">{{title}}</h1>
        <div class="form-comment">
            <div>
                <input
                    class="note-input"
                    type="text"
                    :placeholder="placeholderStr"
                    v-model="inputText"
                    @input="inputChange"
                    @keypress.enter="addNote"
                    :maxlength="limit"
                />
            </div>
            <button
                :class= "inputText.length > 6 ? 'add-note' : 'add-note1'"
                @click="addNote">
                Add note
            </button>
        </div>
        <hr>
        <div>
            <!-- <div>{{counter}}</div> -->
            <div>{{notes.length}}</div>
            <!-- <div>{{doubleCount}}</div> -->
            <ol v-if="notes.length>0">
                <li v-for="(note, idx) in notes">
                    <!-- <div class="text-li">{{toUpperCase(note)}}</div> -->
                    <div class="text-li">{{note}}</div>
                    <button class="delete-btn" v-on:click="removeNote(idx, $event)">
                        delete
                    </button>
                </li>
            </ol>
            <div v-else>Notes is empty</div>
        </div>
        <hr>
        <div style="display: flex; justify-content: center;">
            <button class="add-person" @click="filterPerson">filter</button>
            <button class="add-person" @click="sortBySalary">sort by salary</button>
            <button class="add-person" @click="sortByAge">sort by age</button>
            <button class="add-person" @click="defaultBtn">default</button>
            <button class="add-person" @click="cartShowf">cart</button>
        </div>
        <div v-if="cartShow" class="cart">
            <hr>
            <span v-if="cart.length==0">cart is empty</span>
            <ol v-else="notes.length>0">
                <li v-else v-for="(item, idx) in cart.positions">
                    Name: {{item.name}} <br> Price: {{item.salary}} <br> Amount: {{item.count}} <br> <br>
                    <button class="delete-btn" v-on:click="removeCartItem(idx, $event)">
                        delete
                    </button>
                </li>
            </ol>
            <div>PRICE: {{cartSum}}</div>
            <hr>
        </div>
        <div class="persons">
            <div class="person-card" v-for="(person, idx) in printPersons">
                <img :src="person.avatar" class="person-avatar">
                <span>name: {{person.name}}</span>
                <span>age: {{person.age}}</span>
                <span :style="{color: person.salary > 1000 ? 'green' : 'red'}">salary: {{person.salary}}</span>
                <button class="add-person" v-on:click="buyMan(idx, $event)">buy</button>
            </div>
        </div>
        
    </div>
    <!-- <script src="app.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>




    <script>
        const {
            createApp
        } = Vue;
        const persons= [
                        {
                        age:18,
                        name:'Rudik',
                        salary:1000,
                        avatar: 'https://randomuser.me/api/portraits/men/7.jpg'
                        },
                        {
                        age:19,
                        name:'Vitalik',
                        salary:2000,
                        avatar: 'https://randomuser.me/api/portraits/men/75.jpg'
                        },
                        {
                        age:18,
                        name:'Valera',
                        salary:3000,
                        avatar: 'https://randomuser.me/api/portraits/men/5.jpg'
                        },
                        {
                        age:18,
                        name:'Anna',
                        salary:1000,
                        avatar: 'https://randomuser.me/api/portraits/men/37.jpg'
                        },
                        {
                        age:18,
                        name:'Rudik',
                        salary:1010,
                        avatar: 'https://randomuser.me/api/portraits/men/27.jpg'
                        },
                        {
                        age:18,
                        name:'Rudik',
                        salary:1000,
                        avatar: 'https://randomuser.me/api/portraits/men/72.jpg'
                        },
                    ];
        createApp({
            data() {
                return {
                    title: 'xbn note',
                    counter: 0,
                    placeholderStr: "Note text",
                    inputText: "",
                    notes: [],
                    limit: 30,
                    array:[435,234,786,4324,345,6578,324,234],
                    printPersons:persons,
                    cartShow: false,
                    cart:{positions:[], total:0}
                }
            },
            methods: {
                inputChange(event) {
                    this.inputText = event.target.value;
                },
                addNote() {
                    if (this.inputText != "") {
                        this.notes.push(this.inputText)
                        // this.counter ++
                    };
                    this.inputText = "";
                },
                // inputKeyPress(event) {
                //   if (event.key=="Enter") {
                //     this.addNote();
                //   }
                // },
                removeNote(idx, event) {
                    this.notes.splice(idx, 1);
                    // this.counter --
                },
                // toUpperCase(item) {
                //   return item.toUpperCase()
                // },
                filterPerson() {
                    this.printPersons=persons.filter(a=>a.salary>1000)
                    // return this.persons.filter(a=>a.salary>1000)
                },
                sortBySalary() {
                    // console.log(this.array.sort((a,b)=>a-b)); сорт по возрастанию
                    // console.log(this.array.sort((a,b)=>b-a)); сорт по убыванию
                    // console.log(this.persons.sort((a,b)=>b.salary-a.salary));
                    this.printPersons = [...persons].sort((a,b)=>b.salary-a.salary);
                },
                sortByAge() {
                    // console.log(this.persons.sort((a,b)=>a.age-b.age));s
                    this.printPersons = [...persons].sort((a,b)=>a.age-b.age);
                },
                defaultBtn() {
                    this.printPersons = persons;
                    // console.log(this.array);
                    // let newArray = [...this.array];
                    // console.log(newArray);
                    // let newArray2 = [...this.array,...newArray];
                    // console.log(newArray2);
                    let obj = persons[0];
                    // console.log(obj);
                    let obj1 = {sex:'male'};
                    // console.log(obj1);
                    let obj2 = {...obj,...obj1}
                    console.log(obj2)
                },
                cartShowf() {
                    this.cartShow = !this.cartShow
                },
                buyMan(idx, event) {
                    this.cart.positions.push({...this.printPersons[idx],count:1})
                    console.log(this.cart.positions)
                },
                removeCartItem(idx, event) {
                    this.cart.positions.splice(idx, 1);
                },
            },
            computed: {
                doubleCount() {
                    return this.notes.length * 2
                },
                disabled() {
                    return (this.inputText > 6) ? false : true
                },
                cartSum() {
                    this.cart.total = this.cart.positions.reduce((sum,item)=>sum+item.salary,0)
                    console.log(this.cart.total)
                    return this.cart.positions.reduce((sum,item)=>sum+item.salary,0)
                },
            },
            watch: {
                // inputText(value) {
                //     if (value.length > 10) {
                //         this.inputText = ""
                //     }
                // }
            }
        }).mount('#app')

    </script>
</body>

</html>
